@charset "UTF-8";

/*Media query*/

@media screen and (min-width: 768px) and (max-width: 992px){
    .vuci07frt{
        width: 600px;
    }

    .vuci07drt{
        width: 600px;
    }

    .vuci07tras{
        width: 600px;
    }

    .vuci07esq{
        width: 600px;
    }
}