@charset "UTF-8";

/*Media query*/

@media screen and (min-width: 768px) and (max-width: 991px){

    fieldset{
        width: 500px;
    }

    legend{
        font-size: 1.1em;
    }
    
    p{
        font-size: 1.1em;
    }
    .vuci07frt{
        width: 600px;
    }

    .vuci07drt{
        width: 600px;
    }

    .vuci07tras{
        width: 600px;
    }

    .vuci07esq{
        width: 600px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){

    fieldset{
        width: 700px;
        font-size: 1.3em;
    }

    legend{
        font-size: 1.2em;
    }
    
    p{
        font-size: 1.2em;
    }
    .vuci07frt{
        width: 900px;
    }

    .vuci07drt{
        width: 900px;
    }

    .vuci07tras{
        width: 900px;
    }

    .vuci07esq{
        width: 900px;
    }
}

@media screen and (min-width: 1200px) {
    fieldset{
        width: 700px;
        font-size: 1.6em;
    }

    legend{
        font-size: 1.3em;
    }
    
    p{
        font-size: 1.3em;
    }


    .vuci07frt{
        width: 950px;
    }

    .vuci07drt{
        width: 950px;
    }

    .vuci07tras{
        width: 950px;
    }

    .vuci07esq{
        width: 950px;
    }
}