@charset "UTF-8";

/*Mobile First View*/

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 97vw;
    background-color: gray;
    text-align: center;
}

fieldset{
    width: 97vw;
}

h1{
    text-align: center;
}

/*

.viatura{
    position: absolute;
}

.niveis{
    position: absolute;
    top: 300px;
}

.luzes{
    position: absolute;
    left: 410px;
}

.cabine{
    position: absolute;
    top: 160px;
}

.diversos{
    position: absolute;
    top: 500px;
}

.observacao{
    position: absolute;
    top: 650px;
    left: 400px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.submeter{
    position: absolute;
    top: 715px;
    left: 150px;
}

.identificacao{
    position: absolute;
    top: 605px;
}

.data{
    position: absolute;
    top: 680px;
    margin-left: 10px;
}

*/

.visualiza{
    /*position: absolute;*/
    /*left: 900px;*/
}

.esconde{
   /* position: absolute;*/
   /* left: 10px; */
}

.vuci07{
    /*position: absolute;*/
   /* top: 100px; */
    display: none;
}

.vucifrt{
   /* position: absolute;*/
    width: 300px;
    display: block;
    margin: auto;
  /*  left: 900px; */
    padding: 5px;
}

.vucidrt{
    /*position: absolute;*/
    width: 300px;
    display: block;
    margin: auto;
  /* left: 1230px; */
    padding: 5px;
}
.vucitras{
    /*position: absolute;*/
    width: 300px;
    display: block;
    margin: auto;
   /* left: 900px; */
    top: 460px;
    padding: 5px;
}

.vuciesq{
    /*position: absolute;*/
    width: 300px;
    display: block;
    margin: auto;
   /* left: 1230px; */
    top: 300px;
    padding: 5px;
}
